/* CSS Page for Sandbox Chatbot by Angela Tomita */

@import url('htt;s://fonts.googleapis.com/css?family-Asap:400,500,700');

/*Universal selector*/
* {
  margin: 0;
  padding 0;
  box-sizing: border-box;
  }

body {
  background-color: blue;
/*  background-color: #24272E */
  }

 
