/* CSS Script for Sandbox Chatbot by Angela Tomita */


  @import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap');

/*Universal selector*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
  background-color: #24272E;
  }

header {
  background: white;
  padding: 20px;
  }

header > h1 {
  color: #24272E;
  text-align: center;
  font-family: Asap, sans-serif;
  }

.score-board {
  margin: 20px auto;
  border: 3px solid white;
  border-radius: 4px;
  text-align: center;
  width: 200px;
  color: white;
  font-size: 46px;
  padding: 15px 20px;
  font-family: Asap, sans-serif;
  }

.badge {
  background: #E25840;
  color: white;
  font-size: 14px;
  padding: 2px 10px;
  font-family: Asap, sans-seif;
  }

#user-label {
  position: absolute;
  top: 135px;
  left: 185px;
  }

#bot-label {
  position: absolute;
  top: 135px;
  right: 195px;
  }

.feedback {
  font-size: 40px;
  color: coral;
  }

.feedback > p {
  text-align: center;
  font-weight: bold;
  font-family: Asap, sans-seif;
  }

.choices-1 {
  margin: 50px 0;
  text-align: center;
  }

.choice-1 {
  display: inline-block;
  border: 10px solid white;
  border-radius: 50%;
  margin: 0 10px;
  padding: 10px;
  display: inline:block;
  }
  
.choice-1:hover {
  cursor: pointer;
  background: white;
  }

#action-message1 {
  text-align: center;
  color: white;
  font-family: Asap, sans-seif;
  font-weight: bold;
  font-size: 30px;
  }




.choices-2 {
  margin: 50px 0;
  text-align: center;
  }

.choice-2 {
  display: inline-block;
  border: 10px solid white;
  margin: 0 10px;
  padding: 10px;
  display: inline:block;
  }

.choice-2:hover {
  cursor: pointer;
  background: white;
  }

#action-message2 {
  text-align: center;
  color: white;
  font-family: Asap, sans-seif;
  font-weight: bold;
  font-size: 30px;
  }

